hr{
    border: none;
    width: 50px;
    border-radius: 10px;
    height: 3px;
    background: #ff4141;
    
    }
  
    nav ul{
      display: flex;
      gap: 20px;
      align-items: center;
      margin-left: 250px;
  
    }
    nav ul li{
      list-style: none;
   
    }


    .icons{
        display: flex;
        gap: 15px;
      }
      

@media (max-width:450px) {

    nav ul{
   flex-direction: column;
      justify-content: start;
  align-items: start;
  margin-left: 0px;
  gap: 0px;
    }
   
    @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
  
  
  }
   *{
    font-family: "Poppins", serif;
    font-weight: 100;
    font-style: normal;
  } 
 